* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #00453e;
    color: white;
    display: flex;
    align-items: center;
}
.nav_logo {
    height: 50px;
    width: 113px;
}
.logo {
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 113px;
}

.border {
    border: 2px solid transparent;

}
.border:hover {
    border: 1.5px solid white;
}
.add {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.country{
    font-size: 1rem;
    margin-left: 2px;

}
.add_icon {
    display: flex;
    align-items: center;
}

.nav_search {
    display: flex;
    background-color: aqua;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search_select{
    
}